h1 {
  font-size: 40px;
  color: #290F4C;
  font-family: Arial, Helvetica, sans-serif; }

.placeholder {
  width: 100%;
  min-height: 460px;
  background-color: #556E5B; }



.tm-site-logo {
  display: inline-block;
  margin-right: 5px;
  width: 60px;
  height: 80px; }

.tituloPrincipal {
  font-size: 60px; }

.carousel-inner img {
  width: 100%;
  height: 200px; }

/*.lista-productos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}*/
.carrusel-principal {
  overflow: hidden;
  display: inline-block; }

.lista-productos {
  padding-left: 40px;
  padding-top: 30px; }

.lista-productos-sinazucar {
  padding-left: 40px;
  padding-top: 30px; }

.lista-productos-sinazucar__caja {
  border-radius: 10%;
  width: 18.75%;
  height: 18.75%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff1ff;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block; }

.lista-productos-sinazucar__descripcion-caja {
  font-family: Arial, Helvetica, sans-serif; }

.lista-productos__caja {
  border-radius: 10%;
  background-color: #ffe0e9;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block; }

#menu {
  padding: 0; }

#menu li {
  display: inline-block; }

#menu li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100px;
  height: 50px;
  float: right;
  padding: 10px;
  background-color: #532D7E;
  color: #fff; }

#menu li a:hover {
  width: 200px;
  height: 60px;
  background-color: #290F4C;
  color: #fff; }

h2 {
  font-size: 30px;
  color: grey; }

p {
  text-align: left;
  font-size: 20px; }

.tituloTablas {
  color: #290F4C; }

.nosotros {
  font-family: Arial, Helvetica, sans-serif; }

.nosotros__descripcion {
  font-size: 18px; }

.nosotros__foto {
  border-radius: 80%;
  width: 600px; }

.ingredientes {
  font-weight: bold; }

ul ol {
  color: grey; }

.precios {
  font-style: italic;
  color: #544b53; }

.footer {
  padding: 50px 0;
  color: #f0f9ff;
  background-image: linear-gradient(to left, #532D7E, #A377CF); }

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6; }

.footer ul a:hover {
  opacity: 0.8; }

.footer .item.text {
  margin-bottom: 36px; }

@media (max-width: 767px) {
  .footer .item.text {
    margin-bottom: 0; } }

.footer .item.text p {
  opacity: 0.6;
  margin-bottom: 0; }

.footer .titulo-footer {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0; }


.nav-bar-dulce{
  background-color: #75106f;
}
