@font-face {
  font-family: "Cabin Sketch";
  src: url("../fonts/CabinSketch.woff2"); }

@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/Kaushan.woff2"); }

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora.woff"); }

@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/Dancing.woff"); }

h1 {
  color: #290F4C;
  font-family: 'Lora', serif;
  font-size: 48px; }

.placeholder {
  width: 100%;
  min-height: 460px;
  background-color: #556E5B; }

.nav-link {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Lora', serif; }

.btn-comprar {
  font-family: 'Lora',serif;
  display: inline-block;
  padding: 9px 60px 7px;
  line-height: 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: #A4036F;
  border: 2px solid #A4036F;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.destacar-foto {
  position: absolute;
  display: block;
  visibility: visible;
  left: 228px;
  top: 200px;
  z-index: 6; }

.destacado-badge {
  width: 120px;
  height: 120px; }

.section-btn-comprar {
  margin-bottom: 40px;
  margin-top: 20px; }

.productos-hp {
  height: 600px;
  background-image: url("../../images/fondo-p.jpg"); }

.img-separador {
  max-width: 100%;
  height: auto; }

.img-resumen-qs {
  max-width: 100%;
  height: auto; }

.formulario {
  margin-bottom: 30px; }

.h3-producto {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  font-size: 3em;
  font-family: 'Dancing Script', cursive; }

.h2-catalogo {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  margin-top: 10%;
  font-size: 3em;
  font-family: 'Cabin Sketch', cursive; }

.img-producto-hp {
  max-width: 100%;
  height: auto; }

.titulo-productos-hp {
  margin-bottom: 50px;
  padding-top: 24px; }

.titulo-producto-hp {
  margin-top: 30px;
  display: block;
  font-family: 'Lora', serif;
  color: black;
  font-size: 24px; }

.tipo-producto-hp {
  margin-top: 5px;
  font-family: 'Lora', serif;
  color: black;
  font-size: 16px; }

.precio-productos-hp {
  margin-top: 14px;
  font-family: 'Lora', serif;
  color: black;
  font-size: 16px; }

.h1-titulo-productos-hp {
  font-size: 42px;
  color: #A4036F;
  display: block;
  text-align: center;
  font-family: 'Kaushan Script'; }

.h1-subtitulo-productos-hp {
  font-size: 18px;
  display: block;
  text-align: center;
  font-family: 'Lora'; }

.tipo-producto-hp {
  display: block; }

.p-footer {
  font-size: 16px; }

.section-btn-ver-todos {
  justify-content: center;
  align-content: center;
  display: flex;
  align-items: start;
  font-family: 'Lora',serif;
  margin-bottom: 20px; }

.btn-ver-todos {
  display: inline-block;
  padding: 9px 60px 7px;
  line-height: 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #b95598;
  background-color: #A4036F;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.caja-producto-hm {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px; }

.tm-site-logo {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  height: 80px; }

.nombre-producto {
  text-align: center;
  font-family: 'Lora', serif;
  color: black;
  font-size: 18px; }

.precio-producto {
  text-align: center;
  font-style: italic;
  font-family: inherit;
  font-size: 100%;
  font-family: 'Lora', serif;
  color: black;
  font-size: 14px; }

.tituloPrincipal {
  font-size: 60px; }

.titulo-productos {
  justify-content: center;
  margin-left: 220px;
  margin-top: 100px;
  margin-bottom: 30px; }

.carousel-inner img {
  width: 100%;
  height: 200px; }

.lista-productos {
  padding-left: 40px; }

.lista-productos__caja {
  border-radius: 10%;
  background-color: #ffe0e9;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 5px;
  display: inline-block; }

.lista-productos__caja_sa {
  border-radius: 10%;
  background-color: #e5e0ff;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 5px;
  display: inline-block; }

.navbar-dark .navbar-nav {
  color: #ffffffbf; }

.nav-link {
  color: #6a0782; }

p {
  text-align: left;
  font-size: 20px; }

.tituloTablas {
  color: #290F4C; }

.nosotros {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif; }

.nosotros__descripcion {
  font-size: 18px; }

.tabla-productos-hp {
  justify-content: center;
  align-content: center; }

.nosotros__foto {
  border-radius: 80%;
  width: 600px; }

.ingredientes {
  font-weight: bold; }

ul ol {
  color: grey; }

.precios {
  font-style: italic;
  color: #544b53; }

.resumen-quienes-somos {
  background: radial-gradient(400px 300px ellipse at 350px 310px, #efea5a, #fff);
  padding-top: 40px; }

.texto-resumen-qs {
  font-size: 1vw;
  max-width: 600px;
  text-align: -webkit-right;
  margin-top: 100px;
  font-family: 'Lora'; }

.firma-qs {
  max-width: 40%;
  margin-top: 30px; }

.footer {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #88498F; }

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6; }

.footer ul a:hover {
  opacity: 0.8; }

.footer .item.text {
  margin-bottom: 36px; }

@media (max-width: 767px) {
  .footer .item.text {
    margin-bottom: 0; } }

.footer .item.text p {
  opacity: 0.6;
  margin-bottom: 0; }

.footer .titulo-footer {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0; }

.nav-bar-dulce {
  padding: 30px 0; }

.paginador {
  display: block;
  justify-content: center;
  align-content: center; }

.header-productos {
  display: block;
  height: auto;
  overflow: hidden;
  background: url(../../images/bg_productos.jpeg) no-repeat center center fixed;
  padding: 110px 0 30px 0;
  color: #fff;
  position: relative;
  height: 400px;
  margin-bottom: 40px; }

.header-nosotros {
  display: block;
  height: auto;
  overflow: hidden;
  padding: 110px 0 30px 0;
  color: #fff;
  position: relative;
  height: 400px;
  margin-bottom: 40px;
  background: url(../../images/bg_nosotros.jpg) no-repeat center center fixed; }

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0; }

ul.pagination li {
  display: inline; }

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px; }

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px; }

ul.pagination li a:hover:not(.active) {
  background-color: #ddd; }
